[submodule "Quads"]
	path = Quads
	url = https://github.com/mikeframpo/Quads.git
[submodule "pyBingSearchAPI"]
	path = pyBingSearchAPI
	url = https://github.com/xthepoet/pyBingSearchAPI.git
[submodule "requests"]
	path = requests
	url = https://github.com/kennethreitz/requests.git
[submodule "grequests"]
	path = grequests
	url = https://github.com/kennethreitz/grequests.git
